$fa-font-path: "../node_modules/font-awesome/fonts" !default;
@import "../node_modules/font-awesome/scss/font-awesome";

$cellHeight: 20px;
$cellWidth: 20px;
$gutterWidth: 90px;
$headerHeight: 30px;
$numCells: 14;
$numColors: 19;
$containerWidth: ($cellWidth * $numCells) + $gutterWidth;
$containerHeight: ($numColors * $cellHeight) + $headerHeight;
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'BlinkMacSystemFont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  margin: 0;
  width: $containerWidth;
  max-width: $containerWidth;
  height: $containerHeight;
  overflow: hidden;
}
#container {
  height: 100%;
  width: 100%;
  position: relative;
}
#curtain {
  @include flex-center();
  position: fixed;
  flex-direction: column;
  width: $containerWidth;
  height: $containerHeight - $headerHeight;
  z-index: 3;
  font-size: 2em;
  background-color: rgba(0,0,0,0.7);
  transition: all 1s;
}
#key {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 60px;
  width: 80px;
  right: 0;
  bottom: 0;
}
#key > div {
  @include flex-center();
  height: 100%;
}
#tooltip {
  @include flex-center();
  flex-direction: column;
  position: fixed;
  min-width: 150px;
  height: 40px;
  top: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
}
#clipboard {
  position: fixed;
  z-index: -1;
  top: -$containerWidth;
}
#controls {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #263238;
  height: $headerHeight;
  font-size: 18px;
  padding: 2px;
}

#controls .col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controls .col * {
  margin: 0 2px;
}

#pin-state {
  display: none;
}
#pin-state:checked ~ label {
  color: #00b8d4;
}
#pin:hover {
  color: #84ffff;
}
#hide:hover {
  color: #ffea00;
}
#close:hover {
  color: #ff1744;
}

#mode-selector {
  display: flex;
}
#mode-selector:hover {
  color: #00e5ff;
}
#current-output {
  font-size: 18px;
}

.cell {
  width: $cellHeight;
  height: $cellWidth;
  border: 0px solid rgba(0, 0, 0, 0.25);
  line-height: 1.5em;
}
.cell:hover {
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.row {
  display: flex;
  width: 100%;
}
.gutter.cell {
  width: $gutterWidth;
  text-align: center;
}
.color {
  cursor: pointer;
}
.arrow {
  width: 0;
  height: 0;
  cursor: pointer;
  -webkit-user-select: none;
}
.arrow.left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}
.arrow.right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}
.arrow.left:hover {
  border-left: 10px solid #00e5ff;
}
.arrow.right:hover {
  border-right: 10px solid #00e5ff;
}
.clickable {
  cursor: pointer;
}
.hidden {
  opacity: 0;
  z-index: -1 !important;
}
